$primary-color: rgb(10, 103, 110);
$secondary-color: rgb(252, 73, 73);
$background-color: rgb(240, 240, 240);
$text-color: rgb(33, 33, 33);
$button-color: #0a0b0a;
$border-color: grey;
$danger-color: red;

