<app-header
  (createPost)="navigateToCreateForm()"
  (search)="onSearch($event)"
  (categoryChange)="onCategoryChange($event)"
></app-header>
<main>
     @if(posts$ | async){
     <div class="posts-container">
          @for(post of posts$ | async; track post.id) {
               <app-posts [post]="post" />
          }@empty {
               <div>Something went wrong <button (click)="reload()">Retry Here</button></div>
          }
     </div>
          } @else {
               <div class="loader-container">
                    <div class="loader"></div>
               </div>
          }
  
    <app-pagination
        [currentPage]="currentPage"
        [totalPages]="totalPages"
        (pageChange)="loadPage($event)"
    ></app-pagination>
</main>