.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  padding: 10px;
  height: 50px;

    
}






.page-button {
    background-color:rgb(239, 235, 235);
    color: black;
    width: 40px;
    display: none;
}


button:hover {
   transform: scale(1.05);
}

button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
}


@media screen and (min-width: 680px) {
    .page-button {
        display: block;
    }
    
}