@use './styles/partials/font' as *;
@use './styles/partials/reset' as *;
@use './styles/partials/variables' as *;
@use './styles/partials/mixins' as *;



body {
    background-color: white;

}

button {
    padding: 7px 10px;
    background-color: $button-color;
    color: white;
    font-weight: bold;
}